<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teconnect</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h1>Teconnect</h1>
    <div class="menu">
        <ul>
            <li class="submenu"><a href="inicio.html">Inicio</a></li>
            <li class="submenu"><a href="quienes-somos.html">Quienes somos</a></li>
            <li class="submenu"><a href="sobre-proyecto.html">Sobre este Proyecto</a></li>
            <li class="submenu"><a href="contacto.html">Contactanos</a></li>
        </ul>
    </div>
    <div class="phone">
        <div class="screen">
            <h1>Bienvenido a Teconnect</h1>
            <p>Una plataforma para conectarte con el mundo.</p>
            <button class="btn">Iniciar</button>
        </div>
    </div>
</body>
</html>
