<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teconnect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/styles.css') }}">
</head>
<body>
    <h1>Teconnect</h1>
    <div class="menu">
        <ul>
            <li class="submenu"><a href="inicio">Inicio</a></li>
            <li class="submenu"><a href="quienessomos">Quienes somos</a></li>
            <li class="submenu"><a href="sobreproyecto">Sobre este Proyecto</a></li>
        </ul>
    </div>
    <div class="text-container">
        <img id="imagen-teconnect" src="{{ url_for('static', filename='../static/img/uag2.png') }}" alt="">
        <p>
            Somos un equipo de tres estudiantes altamente motivados y apasionados por la tecnología y la innovación. Actualmente, estamos dedicados a nuestros estudios en Ingeniería en Software y Minería de Datos en la prestigiosa Universidad Autónoma de Guadalajara. Esta combinación única de disciplinas nos proporciona una sólida base técnica y analítica para abordar desafíos complejos en el mundo de las redes y la gestión de datos.

            Nuestra trayectoria académica y nuestra experiencia previa en proyectos tecnológicos nos han preparado para enfrentar este emocionante desafío. Creemos firmemente en el poder de la colaboración y el trabajo en equipo para lograr resultados significativos y de alta calidad. Nos comprometemos a aplicar nuestros conocimientos y habilidades de manera creativa e innovadora en el desarrollo de esta plataforma para la gestión eficiente y visualización de sistemas de redes.

            A través de este proyecto, no solo buscamos resolver problemas técnicos, sino también aprender y crecer como profesionales en el campo de la ingeniería de software y la minería de datos. Estamos entusiasmados por la oportunidad de contribuir al avance de la tecnología y hacer una diferencia en el mundo de las redes y la conectividad.
        </p>
    </div>
</body>
</html>
