<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teconnect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/styles.css') }}">
</head>
<body>
    <div class="teconnect-container">
        <header class="teconnect-header">
            <h1 class="teconnect-title">Teconnect</h1>
            <nav class="teconnect-nav">
                <ul>
                    <li><a href="inicio">Inicio</a></li>
                    <li><a href="quienessomos">Quiénes somos</a></li>
                    <li><a href="sobreproyecto">Sobre este Proyecto</a></li>
                </ul>
            </nav>
        </header>
        <main class="teconnect-main">
            <img src="../static/topo.gif" alt="Teconnect">
            <p>Este proyecto busca crear una herramienta que ayude a los administradores de redes a gestionar y visualizar sus sistemas de manera más eficiente. Utilizando tecnologías web y de programación, como Python y Flask en el servidor, y HTML, CSS y JavaScript en el cliente, este proyecto tiene como objetivo desarrollar una plataforma que permita a los administradores de redes descubrir automáticamente la topología de sus redes, ofreciendo una interfaz visual interactiva para la configuración y monitoreo continuo del rendimiento de los dispositivos de red.</p>
        </main>
    </div>
</body>
</html>